@using System.Globalization
@model Album

@{
    ViewData["Title"] = "Detaliile albumului";
}
<style>
    body {
        background-color: #C0C0C0;
        
    }

    .cerc-artisti {
        width: 100px; 
        height: 100px;
        border-radius: 50%; 
        object-fit: cover; 
    }

    .artist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .artist-detalii {
        margin-top: 8px; 
        text-align: center;
    }
</style>


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white" style="background-color: #800080;">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.NumeAlbum
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.CopertaAlbum" width="100%" alt="@Model.NumeAlbum">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Producator: </b>
                            <a asp-controller="Producatori" asp-action="Details" asp-route-id="@Model.ProducatorId">
                                @Model.Producator.NumeProducator
                            </a>
                        </p>
                        <p class="card-text"><b>Genul Muzical: </b>@Model.GenMuzical</p>
                        <p class="card-text"><b>Durata Album: </b>@Model.DurataAlbum</p>
                       

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <b>Artisti: </b>
                            <hr />
                            <div class="row">
                                @foreach (var artist in Model.Artisti_Albume)
                                {
                                    <div class="col-md-3 mb-3">
                                        <div class="artist-container">
                                            <img class="border-info cerc-artisti" src="@artist.Artist.ProfilePictureURL" >
                                        <div class="artist-detalii">
                                            <a asp-controller="Artisti" asp-action="Details" asp-route-id="@artist.ArtistId">@artist.Artist.NumeArtist</a>
                                        </div>
                                    </div>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="card-footer d-flex justify-content-between">
                        <p class="card-text">
                            <a class="btn btn-outline-primary" asp-action="Index">Inapoi la lista</a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Adauga in cos (Pret @Model.Pret.ToString("C2", CultureInfo.CreateSpecificCulture("ro-RO")))
                            </a>
                        </p>
                        <p>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                                    <button type="submit" class="btn btn-danger text-white ml-auto" onclick="return confirm('Sunteți sigur că doriți să ștergeți acest album?')">
                                        <i class="bi bi-trash"></i>Delete
                                    </button>
                                </form>
                            }
                        </p>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>