@using System.Globalization
@model IEnumerable<Album>

@{
    ViewData["Title"] = "Lista Albumelor";
}
<style>
    body {
        background-color: #000000; 
    }

    .coperta-album {
        height: 200px;
        width: 240px;
        object-fit: cover;
    }
</style>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background-color: #800080;">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.NumeAlbum
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white" asp-action="Edit" asp-route-id="@item.Id" style="float: right;"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.CopertaAlbum" class="coperta-album" alt="@item.NumeAlbum">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Genul Muzical: </b>@item.GenMuzical</p>
                            <p class="card-text"><b>Durata Albumului: </b>@item.DurataAlbum</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Arata detalii
                                </a>
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Adauga in cos (Pret @item.Pret.ToString("C2", CultureInfo.CreateSpecificCulture("ro-RO")))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem","Albume")
