@model List<Order>
@using System.Globalization
@{
    CultureInfo.CurrentCulture = new CultureInfo("ro-RO");
}

@{
    ViewData["Title"] = "Toate comenziile";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Lista comenzilor</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id comanda</th>
                    <th>Albume</th>
                    <th>Totalul</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Cantitate</span> [@item.Pret.ToString("C")] - @item.Album.NumeAlbum;
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(a => a.Album.Pret * a.Cantitate).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle"> @order.User.NumeUtilizator </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>