@using MagazinAlbume.Data.ViewModels;
@using System.Globalization
@{
    CultureInfo.CurrentCulture = new CultureInfo("ro-RO");
}
@model ShoppingCartVM
@{
    ViewData["Title"] = "Lista articolelor adaugate in cos";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Cosul tau de cumparaturi:</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Cantitate</th>
                    <th>Album</th>
                    <th>Pret</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Cantitate</td>
                        <td class="align-middle">@item.Album.NumeAlbum</td>
                        <td class="align-middle">@item.Album.Pret.ToString("c")</td>
                        <td class="align-middle">@((item.Cantitate * item.Album.Pret).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                           asp-route-id="@item.Album.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            |
                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Album.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn-group">
                <div id="paypal-btn"></div>
                <span style="padding:5px"></span>
                <a class="btn btn-outline-success" asp-controller="Albume" asp-action="Index">
                    Adauga mai multe albume
                </a>
            </div>
        </div>

    </div>
</div>


@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        let _total = @Html.Raw(Model.ShoppingCartTotal);

        paypal.Button.render({
            //Configurare paypal
            env: 'sandbox',
            client: {
                sandbox: 'AQnoirqC0BgFN9v8vsSv0K_IbVK7FzYFYjuJTeBupdFMrnREAw4rfik-_sBWT09epLFbBf7mw0liSuJ9'
            },
            //Modificare buton paypal
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            //Pregateste plata
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'EUR'
                        }
                    }]
                });
            },
            //Executa plata
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }

        }, '#paypal-btn')
    </script>
}

